{% if user.is_authenticated %}
	<form action="/comments/post/" method="post">
		<p><label>Post a comment:</label><br />
		<textarea name="comment" rows="10"
			cols="60"></textarea></p>
		<input type="hidden" name="options"
			value="{{ options }}" />
		<input type="hidden" name="target" value="{{ target }}" />
		<input type="hidden" name="gonzo" value="{{ hash }}" />
		<input type="submit" name="post" value="submit comment" />
	</form>
{% else %}
	<p>Please <a href="/login/">log in</a> to post comments.</p>
{% endif %}